<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script><%= htmlWebpackPlugin.options.inline %></script>
</head>
<body>
<div id="root" class="font-inter"></div>
</body>
</html>
