<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <script><%= htmlWebpackPlugin.options.inline %></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
